/* Tùy chỉnh chung */
.modal {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    color: white;
    max-width: 400px;
    margin: auto;
}

.ant-modal-title {
    color: white;
}

.ant-modal-close {
    color: red;
}

.ant-modal-content {
    background-color: #2c2c2c;
    border-radius: 10px;
    border: none;
}

.ant-modal-header {
    background-color: #2c2c2c;
    border-bottom: none;
}

.ant-modal-body {
    padding: 0;
}

.ant-input,
.ant-input-affix-wrapper {
    background-color: #1c6fdc;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.ant-input:focus,
.ant-input-focused {
    background-color: #1c6fdc;
    border-color: none;
    box-shadow: none;
}

.ant-input[disabled] {
    color: #333;
}

.ant-btn-primary {
    background-color: #00d14d;
    border: none;
    width: 80px;
    height: 40px;
    border-radius: 5px;
}

.ant-btn-primary:hover {
    background-color: #00a53d;
}

.ant-btn-default {
    border: none;
    background-color: #ddd;
    color: #333;
    border-radius: 5px;
}

.ant-btn-default:hover {
    background-color: #ccc;
}

.ant-form-item-label>label {
    color: white;
}

/* Nút close */
.ant-modal-close-x {
    color: red;
    font-size: 20px;
}

/* Layout chia cột */
.water-parameter-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.water-parameter-form .ant-form-item {
    width: 48%;
}